html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
}

* {
  color: #f9fdfe;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}
* ::-moz-selection {
  background-color: #bed5e5;
}
* ::selection {
  background-color: #bed5e5;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.container {
  max-width: 1650px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 992px) {
  .container {
    max-width: none;
    padding-left: 60px;
    padding-right: 60px;
  }
}
a {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}

h1.small {
  font-size: 60px;
}

h1.big {
  font-size: 96px;
}

h2 {
  font-size: 52px;
  font-weight: 600;
}

h2.big {
  font-size: 56px;
}

h2.small {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-size: 28px;
  font-weight: 500;
}

h5 {
  font-size: 24px;
  font-weight: 500;
}

h6 {
  font-size: 20px;
  font-weight: 500;
}

p, a {
  font-size: 16px;
  font-weight: 400;
}

.big {
  font-size: 18px;
}

.small {
  font-size: 14px;
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 74px;
  }
  h1.small {
    font-size: 52px;
  }
  h2.small {
    font-size: 42px;
  }
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 70px;
  }
  h1.small {
    font-size: 42px;
  }
  h2.small {
    font-size: 38px;
  }
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 52px;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 44px;
  }
  h1.small {
    font-size: 34px;
  }
  h2.small {
    font-size: 28px;
  }
}
@media screen and (max-width: 420px) {
  h1 {
    font-size: 40px;
  }
}
/*=======================================================
                        BODY
=======================================================*/
body {
  background-color: #000;
}

.first-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
.first-section .header {
  position: absolute;
  z-index: 2;
  height: 100px;
  width: 100%;
}
.first-section .header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}
.first-section .child {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
  height: 100vh;
}
.first-section .hero .container {
  height: 100%;
}
.first-section .hero .hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
}
.first-section .hero .hero-container .hero-content.v1 .styl {
  display: flex;
  align-items: center;
  gap: 8px;
}
.first-section .hero .hero-container .hero-content.v1 .styl + h2 {
  padding-left: 2.8vw;
}
.first-section .hero .hero-container .hero-content.v2 h2 {
  text-align: end;
}
.first-section .hero .hero-container .hero-content.v2 h2:last-child {
  padding-right: 3.8vw;
}
.first-section .hero .hero-container .hero-content .hero-svg {
  width: auto;
  height: 100%;
  max-height: 44px;
  margin-right: 13.5vw;
}
.first-section .hero .hero-container .bg-hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.first-section .hero .hero-container .bg-hero .bg-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-section .hero .hero-container .bg-hero .bg-img img {
  width: 100%;
  height: 65%;
  -o-object-fit: contain;
     object-fit: contain;
}
.first-section .about-me {
  position: absolute;
}
.first-section .about-me .m-picture,
.first-section .about-me .content-me {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-section .about-me .m-picture img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.email {
  color: #6d6d6d;
  font-weight: 500;
  font-size: 16px;
}
.email:hover {
  text-decoration: underline;
}

.sweper-container {
  display: flex;
}

@media screen and (max-width: 1440px) {
  .first-section .about-me .m-picture img {
    width: 85%;
    height: 85%;
  }
}
@media screen and (max-width: 1200px) {
  .first-section .hero .hero-container {
    flex-direction: column;
    align-items: normal;
  }
  .first-section .hero .hero-container .hero-content.v1 {
    margin-bottom: auto;
    margin-top: 90px;
  }
  .first-section .hero .hero-container .hero-content.v2 {
    margin-top: auto;
    margin-bottom: 110px;
  }
  .first-section .hero .hero-container .bg-hero .bg-img img {
    height: 60%;
  }
  .first-section .about-me .m-picture img {
    width: 90%;
    height: 90%;
  }
}
@media screen and (max-width: 992px) {
  .first-section {
    flex-direction: column;
  }
  .first-section .hero .hero-container .hero-content {
    text-align: center;
  }
  .first-section .hero .hero-container .hero-content .hero-svg {
    max-height: 35px;
  }
  .first-section .hero .hero-container .hero-content.v1 {
    margin-bottom: auto;
    margin-top: 100px;
  }
  .first-section .hero .hero-container .hero-content.v1 .styl {
    justify-content: center;
  }
  .first-section .hero .hero-container .hero-content.v1 .styl + h2 {
    padding-left: 0;
  }
  .first-section .hero .hero-container .hero-content.v2 h2:last-child {
    padding-right: 0;
  }
  .first-section .hero .hero-container .hero-content.v2 h2 {
    text-align: center;
  }
  .first-section .hero .hero-container .bg-hero .bg-img img {
    height: 45%;
  }
  .first-section .about-me {
    position: static;
    min-height: 100vh;
    height: auto;
  }
  .first-section .about-me .row {
    justify-content: center;
    text-align: center;
  }
  .first-section .about-me .m-picture img {
    width: 80%;
    height: 80%;
  }
  .first-section .header .header-text,
  .first-section .header .name {
    display: none;
  }
  .first-section .header span {
    margin: 0 auto 32px auto;
  }
}
@media screen and (max-width: 768px) {
  .first-section .hero .hero-container .hero-content .hero-svg {
    max-height: 27px;
  }
  .contact .lets-contact .left-lt .titles h1:last-child {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  .first-section .child {
    height: 90vh;
  }
  .first-section .about-me {
    min-height: auto;
  }
  .first-section .about-me .content-me {
    margin-top: 20px;
  }
  .first-section .about-me .m-picture img {
    width: 100%;
    height: 95%;
  }
}
/*=======================================================
                        ABOUT ME
=======================================================*/
/*=======================================================
                        SKILLS
=======================================================*/
.skills {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 200px;
  overflow: hidden;
}
.skills .box-skills {
  display: flex;
}
.skills .box-skills .each-skills {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}
.skills .box-skills .each-skills .separate-skills {
  width: 1px;
}
.skills .box-skills .each-skills .skill {
  cursor: default;
  line-height: 1.2;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
.skills .box-skills .each-skills .skill + img {
  width: 49px;
  height: 49px;
}

.title-sec {
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  color: #bed5e5;
}
.title-sec svg {
  height: 16px;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .skills .box-skills .each-skills {
    gap: 28px;
    margin-bottom: 15px;
  }
  .skills .box-skills .each-skills .skill + img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 576px) {
  .skills {
    margin-bottom: 100px;
  }
  .skills .box-skills .each-skills {
    gap: 22px;
    margin-bottom: 12px;
  }
  .skills .box-skills .each-skills .skill + img {
    width: 32px;
    height: 32px;
  }
}
/*=======================================================
                        WORKS
=======================================================*/
.works {
  width: 100%;
  margin-bottom: 360px;
}
.works .each-work {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.works .each-work .work {
  filter: grayscale(1);
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 280px;
  padding: 0 10px;
  transition: all 0.3s ease;
}
.works .each-work .work:hover {
  filter: grayscale(0);
}
.works .each-work .work .nm1 {
  position: absolute;
  bottom: 10%;
}
.works .each-work .work img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border: 6px solid #f9fdfe;
}
.works .each-work .work-t {
  position: relative;
}
.works .each-work .work-t * {
  color: #f9fdfe;
}
.works .each-work .work-t svg {
  width: 140px;
  transition: all 1.2s ease-in-out;
}
.works .each-work .work-t:hover svg {
  transform: rotate(540deg);
}
.works .slick-dots {
  bottom: -55px;
}
.works .slick-dots li {
  width: 30px;
  height: 16px;
}
.works .slick-dots li button {
  width: 30px;
  height: 16px;
  border: 3px solid #f9fdfe;
}
.works .slick-dots li button::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 1;
}
.works .slick-dots li.slick-active button::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #bed5e5;
  border: 3px solid #f9fdfe;
}

@media screen and (max-width: 1440px) {
  .works .each-work .work {
    height: 222px;
  }
  .works .each-work .work-t svg {
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .works {
    margin-bottom: 300px;
  }
  .works .slick-dots li button,
  .works .slick-dots li {
    width: 22px;
    height: 12px;
  }
  .works .slick-dots li button,
  .works .slick-dots li.slick-active button::before {
    padding: 0px;
    border-width: 2px;
  }
  .works .each-work .work-t svg {
    width: 80px;
  }
  .works .each-work .work {
    height: 200px;
    padding: 0 8px;
  }
  .works .each-work .work img {
    border-width: 4px;
  }
}
@media screen and (max-width: 576px) {
  .works {
    margin-bottom: 200px;
  }
  .works .each-work .work {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*=======================================================
                        CONTACT
=======================================================*/
.contact {
  margin-bottom: 160px;
}
.contact .lets-contact {
  display: flex;
  justify-content: space-between;
  gap: 44px;
}
.contact .lets-contact .left-lt {
  width: 100%;
  max-width: 780px;
}
.contact .lets-contact .left-lt .titles h1 {
  text-transform: uppercase;
}
.contact .lets-contact .left-lt .titles h1:nth-of-type(2) {
  text-align: end;
}
.contact .lets-contact .left-lt .titles h1:last-child {
  margin-left: 120px;
}
.contact .lets-contact .left-lt .hey {
  margin-top: 120px;
}
.contact .lets-contact .left-lt .hey .header-text a {
  color: #6d6d6d;
  font-weight: 500;
}
.contact .lets-contact .left-lt .hey .header-text a:hover {
  text-decoration: underline;
}
.contact .lets-contact .left-lt .hey .social {
  display: flex;
  gap: 44px;
  margin-top: 40px;
}
.contact .lets-contact .left-lt .hey .social .social-c {
  display: flex;
  align-items: center;
  gap: 8px;
}
.contact .lets-contact .left-lt .hey .social .social-c:hover svg {
  transform: rotate(90deg);
}
.contact .lets-contact .left-lt .hey .social .social-c p {
  text-transform: capitalize;
  font-size: 17px;
}
.contact .lets-contact .left-lt .hey .social .social-c svg {
  transition: all 0.3s ease;
}
.contact .lets-contact .right-lt {
  width: 100%;
  max-width: 820px;
}
.contact .lets-contact .right-lt form {
  width: 100%;
  border: 2px solid #202020;
  padding: 32px 40px 20px 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact .lets-contact .right-lt form .input-c {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: 1.5px solid #202020;
  background-color: transparent;
  padding: 12px 20px;
  outline: none;
  margin-bottom: 16px;
  resize: none;
}
.contact .lets-contact .right-lt form .input-c:focus {
  border-color: #f9fdfe;
}
.contact .lets-contact .right-lt form .inputIncorrect {
  border-color: #d00000;
}
.contact .lets-contact .right-lt form textarea.input-c {
  height: 160px;
}
.contact .lets-contact .right-lt form .cta-p {
  position: relative;
  width: 100%;
  height: 70px;
  border: 2px solid #f9fdfe;
  background-color: #000;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  font-size: 20px;
  margin-top: 32px;
}
.contact .lets-contact .right-lt form .cta-p:hover .hover-btn {
  transform: translateY(0);
  border-radius: 0;
}
.contact .lets-contact .right-lt form .cta-p .hover-btn {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #f9fdfe;
  color: #000;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .contact .lets-contact {
    flex-direction: column;
    align-items: center;
  }
  .contact .lets-contact .left-lt {
    max-width: 720px;
  }
}
@media screen and (max-width: 992px) {
  .contact .lets-contact .left-lt {
    max-width: 620px;
  }
}
@media screen and (max-width: 768px) {
  .contact .lets-contact .left-lt .titles h1:nth-of-type(2) {
    text-align: center;
  }
  .contact .lets-contact .right-lt form {
    padding: 32px 32px 20px 32px;
  }
  .contact .lets-contact .right-lt form .input-c {
    height: 55px;
  }
  .contact .lets-contact .right-lt form .cta-p {
    height: 60px;
  }
}
@media screen and (max-width: 576px) {
  .contact .lets-contact .left-lt .titles h1:nth-of-type(2) {
    text-align: left;
  }
  .contact .lets-contact .left-lt .hey {
    margin-top: 60px;
  }
  .contact .lets-contact .left-lt .hey .social {
    gap: 36px;
    margin-top: 24px;
  }
  .contact .lets-contact .right-lt form {
    padding: 28px 20px 20px 20px;
  }
  .contact .lets-contact .right-lt form .input-c {
    margin-bottom: 0;
  }
  .contact .lets-contact .right-lt form .cta-p {
    margin-top: 18px;
  }
  .contact .lets-contact .right-lt form .cta-p {
    font-size: 17px;
  }
}
/*=======================================================
                        FOOTER
=======================================================*/
.footer {
  position: fixed;
  bottom: 4%;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
}
.footer .footer-menu {
  height: 80px;
  border-radius: 20px;
  border: 1px solid #202020;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 22px;
  padding-right: 22px;
  overflow: hidden;
}
.footer .btn-contact {
  position: absolute;
  right: 10px;
  height: 60px;
  width: 160px;
}
.footer button {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #f9fdfe;
  background-color: #000;
  border-radius: 16px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.footer button:hover .hover-btn {
  transform: translateY(0);
  border-radius: 0;
}
.footer .hover-btn {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #f9fdfe;
  color: #000;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.footer .go-head {
  color: #f9fdfe;
}

.charge-page {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #202020;
  z-index: -1;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.swiper-container .swiper-wrapper {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}
.swiper-container .swiper-slide {
  /*Styling*/
  /**/
}

@media screen and (max-width: 992px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    bottom: 3%;
  }
  .footer .footer-menu {
    height: 68px;
  }
  .footer .btn-contact {
    height: 52px;
    width: 144px;
  }
}
@media screen and (max-width: 576px) {
  .footer .go-head {
    font-size: 14px;
  }
  .footer .footer-menu {
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer .btn-contact {
    height: 45px;
    width: 120px;
  }
  .footer button {
    border-radius: 10px;
  }
}/*# sourceMappingURL=style.css.map */